/* Basic styles */
.rwd-example .ui-body {
    text-align: left;
    border-color: #ddd;
}
.rwd-example p {
    color: #777;
    line-height: 140%
}
/* Stack all blocks to start */
.rwd-example .ui-block-a,
.rwd-example .ui-block-b,
.rwd-example .ui-block-c {
    width: 100%;
    float: none;
}
/* Collapsing borders */
.rwd-example > div + div .ui-body {
    border-top-width: 0;
}
/* 1st breakpoint - Float B and C, leave A full width on top */
@media all and (min-width: 42em) {
    .rwd-example {
        overflow: hidden; /* Use this or a "clearfix" to give the container height */
    }
    .rwd-example .ui-body {
       min-height: 10em;
    }
    .rwd-example .ui-block-b,
    .rwd-example .ui-block-c {
      float: left;
      width: 49.95%;
    }
    .rwd-example .ui-block-b p,
    .rwd-example .ui-block-c p {
      font-size: .8em;
    }
    .rwd-example > div + div .ui-body {
        border-top-width: 1px;
    }
    .rwd-example > div:first-child .ui-body {
        border-bottom-width: 0;
    }
    .rwd-example > div:last-child .ui-body {
        border-left-width: 0;
    }
}
/* 2nd breakpoint - Float all, 50/25/25 */
@media all and (min-width: 55em) {
    .rwd-example .ui-body {
       min-height: 18em;
    }
    .rwd-example .ui-block-a,
    .rwd-example .ui-block-c {
      float: left;
      width: 49.95%;
    }
    .rwd-example .ui-block-b,
    .rwd-example .ui-block-c {
      float: left;
      width: 24.925%;
    }
    .rwd-example > div:first-child .ui-body {
        border-bottom-width: 1px;
    }
    .rwd-example > div + div .ui-body {
        border-left-width: 0;
    }
}
/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 55em) {
    .rwd-example .ui-body {
      font-size: 125%;
    }
    .rwd-example .ui-block-a,
    .rwd-example .ui-block-c {
      float: left;
      width: 30%;
    }
    .rwd-example .ui-block-b,
    .rwd-example .ui-block-c {
      float: left;
      width: 20%;
    }
}